



@media (max-width:1200px) {
     .crdrow{
padding-left: 18%;


    }
    .card{
        margin-top: 10%;
    } 
.view{
    margin-right:10% ;
    width: 20vw;
}
.carttotals{
    margin-left: 20%;


    
}
.subtotalmain{

gap: 100px;

}
.totalmain{

gap: 100px;

}

}

@media (max-width:1090px) {
    .cardshero h1{
    font-size: 1.2rem;
    font-family: monospace;
    
}
.cardshero h6{
    font-size: 0.1rem;
}
    
}
@media (max-width:1002px) {
  .paymenthero{
    flex-direction: column;
    height: 100vh;
    margin-top: 2%;
    gap: 2%;

  }
  
    
}

@media (max-width:1025px) {
    
    .nav-item{
        font-size: 0.7rem;
        position: relative;
        right: 12%;
     
   
    }
    .heroimg{
        display: none;
    }

     .hero{
    background-image: url("backtrue.webp" );
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30%;
    opacity: 0.9;
  
    background-position: center;
    height: 70vh;
    
}
.foot{
    gap: 100px;
}
.herotext{
    position: absolute;
    bottom: 20%;
}

.herotext h1{
   
    font-size: 3rem;
    font-weight: 900;
  
}
}
@media (max-width:1490px) {

    .herotext h1{
    font-size: 2rem;
    font-weight: 500;
}
.herotext h6{
    font-size: 1rem;
    font-weight: 600;
}
.formss{
    padding-top: 8%;
    
}



}
@media (max-width:802px) {
    .crdrow{
 padding-left: 10%;
}
.formss{
    padding-top: 8%;
    
}
.logy{
    flex-direction: column;

}
.form-control{
    width:280px;
}
.buttonform{
    gap: 20px;
}
    
}
@media (max-width:769px) {
    .heroimg{
        display: none;
    }
    .hero{
        height: 78vh;
    }
    .footer{
    height: 50%;
    
}
   

    .herotext{
      position: absolute;
      left: 12%;
      width: 80%;
      text-align: center;
    
    }
        .herotext h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.foot ul h1{
    font-size: 1.9rem;
}
.foot{
    flex-direction: column;
    text-align: center;
gap: 70px;
padding-top: 10%;
padding-bottom: 15%;
height: 70%;
}
.warrr{
   position: absolute;
   bottom: 2%;
   padding-left: 5%;


}
.profooter{
    height: max-content;
}



.herotext h6{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5%;
}
.btn{
    margin-top: 8%;
}

form{
   display:flex;
   align-items: center;
   justify-content: space-evenly;

}
.updater{
    margin-bottom: 2%;
}
 .hero{
    background-image: url("backtrue.webp" );
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30%;
    opacity: 0.9;
    
}

.probuttons{
    margin-top: 2%;
}
.buttonmake{
      margin-top: 5%;
}


}


@media (max-width:483px) {
.herotext{
   bottom: 40%;
   position: absolute;
}
.hero{
    height: 50vh;

}


}

@media (max-width:394px) {
   .herotext{
   top: 5%;
   position: absolute;
} 
.herotext h1{
    font-size: 2rem;
    font-weight: 700;
}
    .hero{
        height: 50vh;
    }
}

@media (max-width:1328px) {
    
    .nav-item{
        font-size: 0.9rem;
        position: relative;
        right: 10%;
     
   
    }




}
@media (max-width:1094px) {
    
    .nav-item{
        font-size: 0.9rem;
       
     
   
    }
    .icon{
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 200;
}
.allinone{

gap: 250px;
 

}
.hrs{
    color: white;
}
.til{
padding-left: 60px;
padding-top: 30px;
}
.pricebtw{
position: absolute;
top: 65%;
gap: 20px;

}
.carttotals{
    position: absolute;
   left: 150px;
    margin-top: 20px;
     margin-bottom: 20px;
 
    
}
.headingcart{
    margin-left: 45%;
}



}
@media (max-width:991px) {
    
    .icon{
        gap: 40%;
     
   padding-top: 6%;
    }

    .main-ul{
        display: flex;
        align-items: center;
        justify-content: center;

    }

.productopen{

gap: 50px;

}

}
@media (max-width:575px) {
    .crdrow{
        margin-right: 0;
    }
    .new1{
        font-size: 1rem;
    }
    .new{
        font-size: 1.8rem;
    }
    .view{
        font-size: 0.7rem;
        margin-right: 0;
    }
    .checktext{
    top: 5%;
    position: absolute;
}

    
}
@media (max-width:767px){
    .cardrow{
    padding-top: 30%;
    }



    
}
@media (max-width:478px) {
    .cardrow{
    padding-top: 39%;



   
    
}




}

@media (max-width:380px) {
   .checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    


   }
   .checktext{
    position: absolute;
    top: 3%;
   }
   .new{
    font-size: 1.3rem;
   }
   
}






@media (max-width:576px) {
 .mainpro{
   padding-left: 18%;
  
  
 }
  .mainprot{
padding-right: 21%;
  
 }

.paginatonpro{
    padding-right: 30%;
}
.footer{
    position: absolute;
    height: auto;
  background-color: transparent;
}
.profooter{
    text-align: center;
   background-color: #eff7fc;
    width: 100vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;

}
.productopimg{
    margin-top: 8%;

}
.productopen{
    height: auto;
}
}

@media (max-width:459px) {


 .product-head{
padding-top: 20%;
 }
 .breadcrumbs{
font-size: 1rem;
margin-top: 8%;
 }
 .p-h1{
    margin-top: 3%;
    font-size: 3rem;
 }
 .mainpro{
padding-left: 13%;
  
 }
  .mainprot{
padding-right: 15%;
  
 }

 .searchyform{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
 }
  .searchyform input{
    text-align: center;
  }


    
}


@media (max-width:488px) {

    .footer{
        padding-right: 18%;
    }
    
}
@media (max-width:406px) {

     .mainpro{
padding-left: 8%;
  
 }
  .mainprot{
padding-right: 15%;
  
 }
    
}
@media (max-width:375px) {

     .mainpro{
padding-left: 1%;
  
 }
  .mainprot{
padding-right:0;
padding-left: 0;
  
 }
 .productopen{
   height: auto;
 }
 .probuttons{
    gap: 5px;
 }
 .productopen{
  
    margin-top: 50%;
    
}
  
    
}
@media (max-width:690px) {


.productopen{
    flex-direction: column;
    margin-top: 25%;
    
}
    .rtex{
        margin-left: 5%;

        margin-top: 0;
    }
.probuttons{
margin-top: 0;
}



.productheading{
text-align: center;
}


.profooter{
margin-top: 15%;


}
    
}
@media (max-width:488px) {
    .profooter{

        padding-left: 15%;
    }
    
}
@media (max-width:713px) 
{
    .rtex{

        margin-top: 13%;
    }
    .productopen{
        height: auto;
    }
}
@media (max-width:1352px) {

 .carttotals{
height: max-content;
width: max-content;
margin-top: 10%;
right: 1%;
 }
}
@media (max-width:1148px) {
.main-ul{
display: flex;
justify-content: center;
align-items: center;
 margin-right: 0;

}
.main-ul li{
 padding: 0;
 padding-left: 30px;

}

}
@media (max-width:658px) {
    .product-headcontact {
     
    width: 100vw;
   margin-left:70px;
   margin-right:50px;
   text-align: center;
margin-top: 100px;
    }



   
}




@media (max-width:456px) {
    .product-headcontact {
   
    width: 100vw;
   margin-left:100px;
   margin-right: 0;
 
    }
    
}
@media (max-width:1016px) {
   
}