*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(223, 183, 113);
}
body h2{
    margin-top: 20px;
}
.container{ 
text-align: center;
background-color:white;
height: 58vh;
width: 26vw;
border-radius: 20px;
border: 2px solid black;
box-shadow: 5px 5px 5px 5px rgb(51, 49, 49) ;



}
.amount{
    font-size: 1.5rem;
    margin-top: 28px;



}
form input{
    width:300px;
    height: 35px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    

}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
    font-size: 1.3rem;
}
.selectcontainer img{
    height: 40px;
    margin-left: 10px;
    
}


.msg{
    margin-top: 20px;
}
button{

margin-top: 20px;
height: 40px;
width: 60%;
border-radius: 20px;
background-color:#af4d98;
font-weight: 700;
color: white;
cursor: pointer;

}
@media (max-width: 768px) {
  .container {
    width: 80vw;
    height: auto;
    padding: 20px 10px;
  }

  form input {
    width: 90%;
    height: 40px;
  }

  .dropdown {
    flex-direction: column;
    gap: 20px;
  }

  .selectcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selectcontainer img {
    height: 30px;
    margin-right: 10px;
  }

  button {
    width: 90%;
  }

  body h2 {
    font-size: 1.5rem;
  }

  .amount, .dropdown, .msg {
    font-size: 1.2rem;
  }
}
